@import 'src/styles/random';
@import 'src/styles/pages/login';
@import 'src/styles/pages/investments';
@import 'src/styles/pages/investment_stats';
@import 'src/styles/stock_grid';
@import 'src/styles/libOfComponents/carousel';
@import 'src/styles/libOfComponents/banner';
@import 'src/styles/libOfComponents/profile_image';

.hero {
  &.has-background {
    position: relative;
    overflow: hidden;
  }

  &-background {
    position: absolute;
    object-fit: cover;
    object-position: bottom;
    width: 100%;
    height: 100%;

    &.is-transparent {
      opacity: 0.3;
    }
  }
}

.burger {
  background-color: transparent;
  border: none;
}

.navbar-brand {
  align-items: center;
}
