.carousel-component {
    display: flex;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    .content {

    }
}

.carousel-component::-webkit-scrollbar {
  display: none;
}