.carousel-component {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.carousel-component::-webkit-scrollbar {
  display: none;
}