.image-container {

    .bg-img-container {
        background-color: red;

        .background-image {
            width: 100%;
            object-fit: cover;
        }
    }

    .profile-image-container {
        display: flex;
        justify-content: center;

        .profile-image {
            position: absolute;
            top: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

}